<div class="my-contain">
  <div class="card my-card big-card missing-field-card data-entry-card">
    <div class="header d-flex">
      <div class="accent-icon mr-auto">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="header-title">
        <span class="title-text">Missing Fields</span>
      </div>
    </div>
    <div class="card-body">
      You must enter the following fields to complete this case:
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6 p-0 mt-3" *ngFor="let section of fields.fields | sectionValidate">
            <a class="error-border" [routerLink]="section.link">
              <div class="sect-header mb-1">
                {{section.name}}
              </div>
              <div class="d-flex flex-row flex-wrap">
                <span>

                </span>
                <div class="flex-item" *ngFor="let field of section.fields | validationFilter">
                  {{field.name}}
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>
    <div class="card-footer d-flex">
      <button class="ml-auto btn btn-warning btn-sm">
        SAVE AS INCOMPLETE
      </button>
    </div>
  </div>