<div class="my-contain">
  <div class="card my-card big-card">
    <div class="card-img-top masthead contact-masthead"></div>

    <div class="header  d-flex">
      <div class="accent-icon mr-auto">
        <i class="fa fa-envelope"></i>

      </div>
      <div class="header-title">

        <span class="title-text">CONTACT</span>

      </div>
    </div>
    <div class="card-body text-center text-md-left p-4">
      <div class="row">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
          <strong>Project Director</strong>
          <br> Lisa Bergersen, M.D., M.P.H.
          <br> Phone: 617-355-8228
          <br> Email: Lisa.Bergersen@
          <span class="d-inline-block d-inline">cardio.chboston.org</span>
          <br>
        </div>
        <div class="col-12 col-md-6">
          <strong>Project Support</strong>
          <br> Phone: 617-919-2929
          <br> Email: cardiooutcomes@
          <span class="d-inline-block d-inline">cardio.chboston.org</span>
          <br>
        </div>
      </div>

    </div>
    <form>
      <div class="card-body pt-0 pb-2">

          <div class="row form-row d-flex align-items-center justify-content-center">

              <div class="col-12 d-flex align-items-center">
                <span class="field d-flex flex-column mb-3 mb-md-1 custom-form-group">
                  <textarea required class="form-control" id="message" rows="4" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"></textarea>
                  <div class="ghost-label">
                    <label for="message" class="label-sm">Message</label>
                  </div>
                </span>
              </div>
    
    
            </div>
        <div class="row form-row d-flex ">

          <div class="col-12 mb-2 mb-md-0 col-md-6">
            <span class="field d-flex flex-column ">
              <input required type="text" class="form-control " id="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'"
              />
              <div class="ghost-label">
                <label for="name" class="label-sm">Name</label>
              </div>
            </span>
          </div>
          <div class="col-12 col-md-6 ">
            <span class=" field  d-flex flex-column">
              <input required type="text" class="form-control" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
              />
              <div class="ghost-label">
                <label for="email" class="label-sm">Email</label>
              </div>
            </span>
          </div>



        </div>
        
  
        <div class="row form-row d-flex align-items-center ">

          <div class="col-12 d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-warning  ">&nbsp;SEND&nbsp;</button>
          </div>


        </div>
      </div>




    </form>

  </div>
  
</div>