<div class="my-contain">
    <div class="card my-card big-card">
        <div class="header  d-flex">
            <div class="accent-icon mr-auto">
                <i class="fa fa-unlock-alt"></i>

            </div>
            <div class="header-title">

                <span class="title-text">Forgot Password?</span>

            </div>
        </div>
        <div class="card-body container-fluid">
            Input your email and we'll send you an email to help you reset your password.
            <div class="row form-row mt-3">
                <div class="col-8 col-md-3">
                <span class="field d-flex flex-column">
                    <input required type="text" class="form-control " name="email"  id="password-forgot" placeholder="Email"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" />
                    <div class="ghost-label">
                        <label for="add-event-name" class="label-sm">Email</label>
                    </div>
                </span>
            </div>
            <div class="col-4 col-md-1"><button routerLink="/login" class="btn btn-warning">SUBMIT</button></div>
            <div class="d-none col-md-8"></div>

            </div>

        </div>
    </div>

    


</div>