<div class="my-contain">
    <div class="card my-card container-fluid masthead">
        <div class="row">
            <div class="col-12 col-xl-6 p-3 blurb">
                <div class="inside-blurb">
                    <h5 class="mb-0">
                        <i class="fa fa-quote-left"></i>&nbsp;Improving the Care We Deliver in</h5>
                    <h1 class="mb-0">CARDIAC CATHERIZATION</h1>
                    <h5 class="mb-0"> for Congenital Heart Disease.&nbsp;
                        <i class="fa fa-quote-right"></i>
                    </h5>
                </div>
            </div>
            <div class="col-12 col-xl-6 ">

            </div>

        </div>


    </div>
    <app-login-card></app-login-card>


    <div class="row dash-sect">
        <div class="col-12 col-md-6">
            <div class="card my-card big-card mb-4 mb-md-0 align-items-stretch">
                <div class="header  d-flex">
                    <div class="accent-icon mr-auto"> 
                        <i class="fa fa-envelope"></i>

                    </div>
                    <div class="header-title">

                        <span class="title-text">CONTACT</span>

                    </div>
                </div>
                <form>
                    <div class="card-body pb-3">




                        <div class="row form-row d-flex align-items-center justify-content-center">

                            <div class="col-12 d-flex align-items-center">
                                <span class="field d-flex flex-column custom-form-group">
                                    <textarea required class="form-control" id="message" rows="4" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"></textarea>
                                    <div class="ghost-label">
                                        <label for="message" class="label-sm">Message</label>
                                    </div>
                                </span>
                            </div>


                        </div>
                        <div class="row form-row d-flex ">

                            <div class="col-12 mb-3 mb-md-0 col-md-6">
                                <span class="field d-flex flex-column">
                                    <input required type="text" class="form-control " id="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'"
                                    />
                                    <div class="ghost-label">
                                        <label for="name" class="label-sm">Name</label>
                                    </div>
                                </span>
                            </div>
                            <div class="col-12  col-md-6">
                                <span class=" field d-flex flex-column">
                                    <input required type="text" class="form-control" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"
                                    />
                                    <div class="ghost-label">
                                        <label for="email" class="label-sm">Email</label>
                                    </div>
                                </span>
                            </div>



                        </div>
                        <div class="row form-row d-flex align-items-center">

                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn btn-warning">&nbsp;SEND&nbsp;</button>
                            </div>


                        </div>


                    </div>

                </form>




            </div>
        </div>
        <div class="col-12 col-md-6  dash-links d-flex flex-column align-items-stretch">
            <a routerLink="/about">
                <div class="card my-card dash-link">
                    <div class="header d-flex">
                        <div class="accent-icon mr-auto">
                            <i class="fa fa-info-circle"></i>

                        </div>
                        <div class="header-title ml-md-2  ">

                            <span class="title-text">BACKGROUND</span>

                        </div>
                    </div>

                </div>
            </a>
            <a routerLink="/calculator">
                <div class="card my-card dash-link">
                    <div class="header d-flex">
                        <div class="accent-icon mr-auto">
                            <i class="fa fa-calculator "></i>

                        </div>
                        <div class="ml-md-2 header-title  ">

                            <span class="title-text">CALCULATOR</span>

                        </div>
                    </div>

                </div>
            </a>
            <a routerLink="/about/sites">
                <div class="card my-card dash-link">
                    <div class="header  d-flex">
                        <div class="accent-icon mr-auto">
                            <i class="fa fa-map-marker-alt"></i>

                        </div>
                        <div class="header-title ml-md-2">

                            <span class="title-text">PARTICIPATING SITES</span>

                        </div>
                    </div>

                </div>
            </a>
            <a routerLink="/publications">
                <div class="card my-card dash-link align-self-end mb-0">
                    <div class="header d-flex">
                        <div class="accent-icon mr-auto">
                            <i class="fa fa-book"></i>

                        </div>
                        <div class="header-title ml-md-2 ">

                            <span class="title-text">PUBLICATIONS</span>

                        </div>
                    </div>

                </div>
            </a>


        </div>









    </div>


</div>