<div class="my-contain">
    <div class="card my-card big-card">
        <div class="header  d-flex">
            <div class="accent-icon mr-auto">
                <i class="fa fa-heart"></i>

            </div>
            <div class="header-title">

                <span class="title-text">C3PO-QI</span>

            </div>
        </div>
        <div class="card-body text-center text-md-left p-4">


            <p>
                In early 2013 the C3PO collaboration began a new phase of progress, known as the Congenital Cardiac Catheterization Project
                on Outcomes-Quality Improvement (C3PO-QI), and expanded their participation to 15 institutions. The C3PO-QI
                group is working to move beyond benchmarking and towards improving patient care practices through various
                quality improvement initiatives.

            </p>

            <p>
                The group has expanded participation to include 15 sites and began prospectively collecting data in May of 2013. For this
                new venture, the previously established web based tool was redesigned utilizing Silverlight technology and
                features improved speed, functionality, and updated nomenclature. Institutional data is available in comparison
                to other participating C3PO-QI sites in aggregate including procedure counts, limited patient and procedural
                characteristics, and outcomes such as highest severity adverse events and transfusion rates. Quality reports
                include outcome metrics such as risk adjusted adverse event ratios using CHARM. A time series analysis allows
                sites to track performance over time by physicians and institution in comparison with other sites in aggregate.
                To portray data in a fashion that is quickly responsive to system improvements, control charts will be created,
                and or uncommon adverse events, time and/or number of cases between specific adverse events will be reported.

            </p>
            <p>
                The initial goal of the C3PO-QI collaboration is to reduce radiation exposure in pediatric cardiac catheterization interventions.
                To work towards this reduction, established QI scientific methodology is being utilized. A key driver diagram,
                a common QI design tool which summarizes the key factors thought to have a potential impact on our goal,
                and strategies or changes for improvement was created. (Figure 1) Subsequently, PDSA methodology will be
                employed which involves 1) proposing changes based on hunches and theories (Plan), 2) implementing the change
                (Do), 3) measuring or describing the effect (Study), and 4) reviewing and upgrading the process based on
                what is learned (Act).

            </p>
        </div>
        <div class="card-block">
            <a class="full-width"  href="/assets/images/KDD.png" target="_blank" >
                <img class="full-width" src="/assets/images/KDD.png"alt="C3PO-QI Goals">
            </a>
           
        </div>
        <div class="card-body">
            <p>
                In addition to radiation reduction, the C3PO-QI group will also look at efficacy outcomes for six specific lesion types:
                Pulmonary Stenosis, Aortic Stenosis, Coarctation of the Aorta, Atrial Septal Defect, Patent Ductus Arteriosus,
                and Transcatheter Pulmonary Valve Placement.

            </p>
        </div>

    </div>
</div>




