@import "../../../../custom-variables";
.nav-pills {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
  .nav-item {
    font-size: 13px;
    display: flex;
    width: 100%;
    flex: 1 1 100px;
    border-bottom: $border-transparent;
    max-width: 100%;
    min-width: 100px;
    align-items: center;
    text-align: center;
    border: $border;
    @include shadow;
  }
}
.nav-item.active {
  background: $bright-accent;
  a {
    color: black;
  }
}
.chart-container { 
  min-height:300px;
  .chartjs-hidden-iframe {
    display: block;
    padding-top: 100%;
    margin-top: -100%;
    overflow: hidden;
    border: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 0px;
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }
  
}
