<div class="my-contain">

  <div class="card my-card big-card mb-3">


      <div class="header d-flex">
          <div class="accent-icon mr-auto">
              <i class="fa fa-map-marker-alt"></i>

          </div>
          <div class="header-title">

              <span class="title-text">PARTICIPATING SITES</span>

          </div>
      </div>
  </div>

  <iframe class="mb-3 frame" src="https://www.google.com/maps/d/u/0/embed?mid=1kdXec8Ec-OiPHsgoT5xTdtIP6TFdd9lk" width="100%"
      height="480"></iframe>

  <div class="masonry">


      <a href="https://www.choa.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/atlanta.png">
          </div>
      </a>

      <a href="http://www.childrenshospital.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/boston-children's.png">
          </div>
      </a>
      <a href="https://www.cincinnatichildrens.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/cincinnati.jpg">
          </div>
      </a>

      <a href="https://nortonchildrens.com/" target="_blank">
          <div class="item">
              <img src="/assets/images/norton.jpg">
          </div>
      </a>
      <a href="https://www.ohsu.edu/xd/" target="_blank">
          <div class="item">
              <img src="/assets/images/oregon.jpg">
          </div>
      </a>
      <a href="https://www.rchsd.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/radys.jpg">
          </div>
      </a>
      <a href="http://www.chop.edu/" target="_blank">
          <div class="item">
              <img src="/assets/images/philadelphia.jpg">
          </div>
      </a>
      <a href="http://www.chp.edu/" target="_blank">
          <div class="item">
              <img src="/assets/images/pittsburg.png">
          </div>
      </a>
      <a href="http://www.stlouischildrens.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/st-louis.png">
          </div>
      </a>
      <a href="http://www.nyp.org/morganstanley" target="_blank">
          <div class="item">
              <img src="/assets/images/morgan-stanley.gif">
          </div>
      </a>
      <a href="https://www.jdch.com/" target="_blank">
          <div class="item">
              <img src="/assets/images/joe-dimaggio.jpg">
          </div>
      </a>
      <a href="https://www.mottchildren.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/michigan.jpg">
          </div>
      </a>
      <a href="https://www.nationwidechildrens.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/nationwide.png">
          </div>
      </a>
      <a href="https://childrens.uvahealth.com/" target="_blank">
          <div class="item">
              <img src="/assets/images/virginia.jpg">
          </div>
      </a>
      <a href="http://www.childrenshospital.vanderbilt.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/vanderbilt.png">
          </div>
      </a>
      <a href="https://www.aku.edu/Pages/home.aspx" target="_blank">
          <div class="item">
              <img src="/assets/images/aga-khan.gif">
          </div>
      </a>
      <a href="https://www.chw.org/" target="_blank">
          <div class="item">
              <img src="/assets/images/wisconsin.svg">
          </div>
      </a>




  </div>

  
</div>
