<div class="my-contain">
  <div class="card my-card big-card data-entry-card" id="hemodynamics">
    <div class="header d-flex ">
      <div class="accent-icon mr-auto">
        <i class="fa fa-heartbeat"></i>
      </div>
      <div class="header-title">
        <span class="title-text">HEMODYNAMICS</span>
      </div>
    </div>
    <form>
      <div class="card-body container-fluid">
        <div class="row">

          <div class="col my-col">
            <app-hemos></app-hemos>
          </div>


        </div>









      </div>

    </form>
  </div>
</div>