<div class="my-contain portal">
    <h2 class="sect-header">USER HOME</h2>
  <a routerLink="/user-portal/add-case/">
      <div class="card my-card dash-link">
          <div class="header d-flex">
              <div class="accent-icon mr-auto">
                  <i class="fa fa-plus-circle"></i>

              </div>
              <div class="header-title d-flex flex-column">

                  <span class="title-text">ADD CASE</span>

                  <span class="desc">Add a case to C3PO-R3</span>
              </div>

          </div>

      </div>
  </a>
  <a routerLink="/user-portal/case-lookup">
      <div class="card my-card dash-link">
          <div class="header  d-flex">
              <div class="accent-icon mr-auto">
                  <i class="fa fa-search"></i>

              </div>
              <div class="header-title d-flex flex-column">

                  <span class="title-text">CASE LOOKUP</span>

                  <span class="desc">Review or edit a past case</span>

              </div>
          </div>

      </div>
  </a>
  <a routerLink="/user-portal/manage-reports">
      <div class="card my-card dash-link">
          <div class="header d-flex">
              <div class="accent-icon mr-auto">
                  <i class="fa fa-chart-bar"></i>

              </div>
              <div class="header-title d-flex flex-column">

                  <span class="title-text">MANAGE REPORTS</span>

                  <span class="desc">Generate and examine reports</span>

              </div>
          </div>

      </div>
  </a>

  <a routerLink="/user-portal/">
      <div class="card my-card dash-link">
          <div class="header  d-flex">
              <div class="accent-icon mr-auto">
                  <i class="fa fa-link"></i>

              </div>
              <div class="header-title d-flex flex-column">

                  <span class="title-text">WEBINAR LINK</span>

                  <span class="desc">Attend our online webinar</span>

              </div>
          </div>

      </div>
  </a>
  <a routerLink="/user-portal/manage-users">
    <div class="card my-card dash-link">
        <div class="header  d-flex">
            <div class="accent-icon mr-auto">
                <i class="fa fa-user-friends"></i>

            </div>
            <div class="header-title d-flex flex-column">

                <span class="title-text">MANAGE USERS</span>

                <span class="desc">Add, delete, or edit users</span>

            </div>
        </div>

    </div>
</a>











 

</div>