<div class="my-contain">
    <div class="card my-card big-card">
        <div class="header  d-flex">
            <div class="accent-icon mr-auto">
                <i class="fa fa-heartbeat"></i>
  
            </div>
            <div class="header-title">
  
                <span class="title-text">C3PO-R3</span>
  
            </div>
        </div>
        <div class="card-body text-center text-md-left p-4">
  
  
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus sapien massa, et tincidunt purus tincidunt eget.
                Nulla dictum, magna nec iaculis tincidunt, metus odio malesuada ante, nec consequat neque tortor
                eu arcu. Ut faucibus, nibh hendrerit ornare lacinia, justo nibh posuere metus, at accumsan metus
                est et justo. Pellentesque et maximus purus. Donec auctor tortor a ullamcorper ornare. Nulla et risus
                in ligula posuere pharetra. Aenean mollis nisi justo, nec sollicitudin mi interdum ac. Etiam venenatis
                ornare turpis, at cursus odio rhoncus at. Morbi ultrices nulla non neque blandit, eget mattis diam
                accumsan. Cras et ipsum eros. Nunc id nunc lorem. Etiam nec orci diam.
            </p>
            <h5>Aliquam sagittis</h5>
            <p>
                tortor sit amet ullamcorper rutrum, lectus eros ornare tortor, ac posuere dui magna nec tellus. Phasellus eu nisi tortor.
                Nulla placerat purus ut ipsum eleifend tempus vel eget sapien. Phasellus semper leo sit amet lorem
                scelerisque, et ultricies purus finibus. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Fusce porttitor turpis ut ligula porta, eu rutrum urna interdum. Curabitur
                non rhoncus ipsum, vel lobortis leo. Duis vel augue mi. Vivamus porttitor nisl dolor.
            </p>
            <p>
                Aenean nec felis imperdiet, pulvinar dolor sodales, imperdiet magna. Praesent dignissim tempor felis. Fusce nulla orci, tincidunt
                vel malesuada nec, cursus vitae turpis. Aliquam tempus elementum leo, vitae eleifend est auctor at.
                Mauris dolor nisi, malesuada nec faucibus non, sollicitudin eu risus. Pellentesque scelerisque, elit
                in vulputate lacinia, lacus arcu lacinia diam, blandit eleifend enim turpis id orci. Praesent quam
                augue, fermentum finibus felis a, aliquam venenatis mauris. Duis vitae erat eget nibh tempor egestas
                sed suscipit erat. Nunc aliquam elit laoreet velit vestibulum, nec tristique ligula efficitur. Suspendisse
                accumsan nunc nec lectus faucibus vestibulum.
            </p>
            <h5> Sed ullamcorper elementum iaculis</h5>
            <p>
                Sed ac dignissim felis, in molestie elit. Ut venenatis, tortor a sodales dignissim, eros mi ornare sem, id euismod felis
                dolor nec risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque
                egestas, tortor vitae gravida mattis, ligula purus sodales massa, et eleifend turpis nibh vel tortor.
                Praesent tempus justo ante, vel accumsan ante molestie porta.
            </p>
            <p>
                Donec in ligula ullamcorper, commodo metus vitae, laoreet metus. Vestibulum quis laoreet ligula, vitae dapibus sem. Donec
                pulvinar non urna et pretium. Nunc mollis, turpis in pharetra fringilla, magna felis finibus ligula,
                nec laoreet est felis in tortor. Sed ultrices nibh eget purus aliquet gravida. Mauris at imperdiet
                sem. Morbi fermentum massa ipsum, in pharetra felis venenatis ac. Mauris ex nisi, laoreet ac molestie
                ut, rutrum eu risus.
            </p>
        </div>
    </div>
  
    
  
  
  </div>