@import '../../../../../custom-variables';


.b-border {
    @media (min-width:996px) {
        border-bottom:1px solid #ddd;
        padding-bottom:15px;
    }

}

.push-down {
    margin-top:30px;
}

.push-up {
    margin-top:-20px;
}