
@import "../../../custom-variables.scss";

.pub {
    @include transition();
    &:hover {
        @include shadow();
        @include transition(); 
        a {
            color:$main-accent; 
        }
    }
    .pub-title {
        color:$dark-accent;
        border-bottom:1px dashed $border-color;
        h6 {
            margin-bottom:5px;
        }
        
    }

    .authors {
        margin-bottom:5px;
    }

    .separator {
        &:before {
            content:"/";
        }
       
        color:$bright-accent2;
        font-weight:600;
    }
}
